.user-page {
  --object-fit: cover;
  --object-position: center;
  img {
    height: 188px;
    width: 100%;
    object-fit: var(--object-fit);
    object-position: var(--object-position);
    margin-bottom: var(--spacing-xxl);

    @media (min-width: 1024px) {
      height: 600px;
    }
  }

  .caption {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--spacing-sm);
    justify-content: space-between;
    margin-bottom: var(--spacing-lg);

    p {
      font-style: oblique;
    }

    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }
}
