/* 
    class-based selectors which define undecorated design patterns, 
    for example the media object known from OOCSS 
*/

.content-container {
  --section-padding: var(--spacing-xxl);
  display: block;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 var(--section-padding);

  .text:not(div) {
    max-width: 35em;
    margin: 0 auto;
  }

  @media (min-width: 1024px) {
    --section-padding: var(--spacing-7xl);
  }
}
